<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creá tu cuenta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles2.css">
    <script src="https://kit.fontawesome.com/26ed95fe57.js" crossorigin="anonymous"></script> 
</head>
<body>
    <div class="logo"> 
        <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
    </div>
    <h3 class="leyenda"> Por favor ingrese los siguientes datos: </h3>

    <form class="formularioRegistro"   action="/registro" method="post">

        
        <input class="nombre"    type="text"  name="name"   id="name" placeholder="Nombre y Apellido">
        <br>
        <input class="usuario "type="text"  name="usu"   id="usu" placeholder="Nombre de usuario">
        <br>

        <label class="etiquetaFecha" for="birthDate"> Fecha de nacimiento </label> 
        <br>
        <input class="fecha" type="date"  name="birthDate"   id="birthDate">
        <br>
        <input class="direccion" type="text"  name="address"   id="address" placeholder="Domicilio">
        <br>

        <label class="etiquetaPerfil" for="perfil"> Elegí tu perfil, sos: </label>
        <select class="perfil" name="perfil">
            <option value="buyer"> Comprador </option>
            <option value="saller"> Vendedor </option>
        </select>
        <br>

        <label class="etiquetaCategorias" for="categories"> Seleccioná las categorías de tu interés: </label>
        <br>
        <label class="categoria"   for="categories"> Electro</label>
        <input type="checkbox"  name="categories"   value="Electro"> <br>
        <label class="categoria"f or="categories"> Moda </label>
        <input type="checkbox"  name="categories"   value="Moda"> <br>
        <label class="categoria" for="categories"> Hogar </label>
        <input type="checkbox"  name="categories"   value="Hogar"> <br>
        <label class="categoria" for="categories"> Juguetería</label>
        <input type="checkbox"  name="categories"   value="Juguetería"> <br>
        <label class="categoria" for="categories"> Vida sana</label>
        <input type="checkbox"  name="categories"   value="Vida sana"> <br>
        <br>

        <label class="etiquetaFoto" for="photo"> Foto del usuario </label>
        <input class="foto" type="file" name="photo" accept=".jpg">
        <br>
        <input class="clave" type="password" name= "password" id="password" placeholder="Ingrese contraseña">
        <br>
        <input class="clave" type="password" name= "password2" id="password2" placeholder="Reigrese contraseña">
        <br>

        <button class="botonReset" type="reset"> Resetear </button>
        <br>
        <button class="botonGuardar" type="submit"> Guardar </button>
        <br>


    </form>
    
</body>
</html>
