*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', 'sans-serif';
}
header{
    background-color: #EAC926;
}
.logo {
width: 50%;
}

form {
    padding-left: 10px;
}
p.compraEnCuotas{
    text-align: center;
}

div.burger-menu{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #03264C;
    border-radius: 6px;
}

section.banner{
    width: fit-content;
}

/*
main section article i{
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;
}
*/

h3{
    font-size: 24px;
}

h4.description{
    font-size: 16px;
}
.discount {
    font-size: 16px;
}
.price{
    font-size: 18px;
}

.itemPiePagina{
    text-align: center;
    font-size: 24px;
}
div.iconoPiePagina{
    text-align: center;
    size: 2em;
    margin-bottom: 10px;
}
div.parrafoItemPiePagina {
        text-align: center;   
}
    