* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', 'sans-serif';
    background-color: #ebebeb;
}

.usuario, .clave{
    text-align: center;
    margin-left: 35%;
    margin-bottom: 2%;
}

.botonGuardar{
    background-color: green;
    color: white;
    padding: 1%;
    margin-left: 40%;
}

.botonGuardar:hover{
    background-color: #0022AA;
}

.leyenda{
    text-align: center;
    padding: 5%;
}